
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Vendas</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Registrar Funcionário</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="nome" placeholder="Nome do funcionário" required><br>
            <input type="number" name="vendas" step="0.01" placeholder="Total de Vendas" required><br>
            <input type="number" name="meta" step="0.01" placeholder="Meta do Mês" required><br>
            <button type="submit">Salvar</button>
        </form>
        <br>
        <a href="{% url 'historico' %}" class="botao-secundario">Ver Histórico</a>
    </div>
</body>
</html>
