
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Resultado</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Resultado da Análise</h1>
        <p><strong>Funcionário:</strong> {{ nome }}</p>

        <p><strong>Meta:</strong>
            {% if meta_batida %}
                Batida
            {% else %}
                Não atingida
            {% endif %}
        </p>


        <p><strong>Bônus:</strong> R$ {{ bonus }}</p>
        <a href="{% url 'index' %}" class="botao-secundario">Voltar</a>
    </div>
</body>
</html>
