
body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f4f9;
    margin: 0;
    padding: 0;
    background-image: url("/static/img/funcionario.jpg");
    background-size: 100%;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button, .botao-secundario {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}

button:hover, .botao-secundario:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

.botao-secundario {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 96%;
}
